@font-face {
  font-family: "toutiao";
  /* Project id 3571738 */
  src: url('//at.alicdn.com/t/c/font_3571738_1vbo8yvb4h2.woff2?t=1659770501562') format('woff2'), url('//at.alicdn.com/t/c/font_3571738_1vbo8yvb4h2.woff?t=1659770501562') format('woff'), url('//at.alicdn.com/t/c/font_3571738_1vbo8yvb4h2.ttf?t=1659770501562') format('truetype'), url('//at.alicdn.com/t/c/font_3571738_1vbo8yvb4h2.svg?t=1659770501562#toutiao') format('svg');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiao-lishi:before {
  content: "\e603";
}
.toutiao-shanchu:before {
  content: "\e604";
}
.toutiao-guanbi:before {
  content: "\e605";
}
.toutiao-dianzan:before {
  content: "\e606";
}
.toutiao-shoucang:before {
  content: "\e607";
}
.toutiao-yuedu:before {
  content: "\e608";
}
